customer/app_error.log
customer/node_modules
/customer/.env
/products/node_modules
/products/.env
/products/app_error.log
/products/package-lock.json
/shopping/node_modules
/shopping/.env
/shopping/app_error.log
/shopping/package-lock.json
/customer/rpc_example

.env